<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toi.proto.mapper.BcUserMapper">

	<select id="selectListBcUser" 
	parameterType="map" 
	resultType="list">
<![CDATA[
			SELECT /* SQL_ID : com.toi.proto.mapper.UserMapper.selectListBcUser */
				   USER_ID 		AS USER_ID				/* 사용자ID 		*/
				 , USER_NM 		AS USER_NM				/* 사용자명 		*/
				 , USER_EML 	AS USER_EML				/* 사용자이메일 	*/
				 , USET_TEL		AS USET_TEL				/* 사용자전화번호	*/
				 , USER_BRT_DT	AS USER_BRT_DT			/* 사용자생년월일	*/
			  FROM TB_USER
]]>
		<where>
			<if test = 'usrId != null and userId != "" '>
<![CDATA[	   AND USER_ID 		LIKE '%' || #{userId} || '%'	/* 사용자ID */ ]]>
			</if>
			<if test = 'usrNm != null and userNm != "" '>
<![CDATA[  	   AND USER_NM 		LIKE '%' || #{userNm} || '%'	/* 사용자명 */ ]]>
			</if>
			<if test = 'userEml != null and userEml != "" '>
<![CDATA[  	   AND USER_EML		LIKE '%' || #{userEml} || '%'	/* 사용자명 */ ]]>
			</if>
			<if test = 'userTel != null and userTel != "" '>
<![CDATA[  	   AND USET_TEL 	LIKE '%' || #{userTel} || '%'	/* 사용자명 */ ]]>
			</if>
			<if test = 'userBrtDt != null and userBrtDt != "" '>
<![CDATA[  	   AND USER_BRT_DT  LIKE '%' || #{userBrtDt} || '%'	/* 사용자명 */ ]]>
			</if>
		</where>
	</select>
	
	<select id="selectOneBcUser" 
	parameterType="map" 
	resultType="map">
<![CDATA[
			SELECT /* SQL_ID : com.toi.proto.mapper.UserMapper.selectOneBcUser */
				   USER_ID 		AS USER_ID				/* 사용자ID 		*/
				 , USER_NM 		AS USER_NM				/* 사용자명 		*/
				 , USER_EML 	AS USER_EML				/* 사용자이메일 	*/
				 , USET_TEL		AS USET_TEL				/* 사용자전화번호	*/
				 , USER_BRT_DT	AS USER_BRT_DT			/* 사용자생년월일	*/
			  FROM TB_USER
]]>
		<where>
			<if test = 'usrId != null and userId != "" '>
<![CDATA[	   AND USER_ID 		= #{userId}				/* 사용자ID 		*/ ]]>
			</if>
			<if test = 'usrNm != null and userNm != "" '>
<![CDATA[  	   AND USER_NM 		= #{userNm} 			/* 사용자명 		*/ ]]>
			</if>
			<if test = 'userEml != null and userEml != "" '>
<![CDATA[  	   AND USER_EML		=						/* 사용자이메일 	*/ ]]>
			</if>
			<if test = 'userTel != null and userTel != "" '>
<![CDATA[  	   AND USET_TEL 	= #{userTel}			/* 사용자전화번호 	*/ ]]>
			</if>
			<if test = 'userBrtDt != null and userBrtDt != "" '>
<![CDATA[  	   AND USER_BRT_DT  = #{userBrtDt}			/* 사용자생년월일 	*/ ]]>
			</if>
		</where>
	</select>
	
	<insert id="insertBcUser"
	parameterType="map">
	<![CDATA[
		INSERT /* SQL_ID : com.toi.proto.mapper.UserMapper.insertBcUser */
		  INTO TB_BC_USER
			 ( USER_ID 						/* 사용자ID 		*/
			 , USER_EML                     /* 사용자명 		*/
			 , USER_NM                      /* 사용자이메일 	*/
			 , USER_TEL                     /* 사용자전화번호	*/
			 , USER_BRT_DT                  /* 사용자생년월일	*/
			 , USER_PWD 					/* 사용자비밀번호	*/
			 )
		VALUES
		    ( #{userId}                     /* 사용자ID 		*/
		    , #{userEml}                    /* 사용자명 		*/
		    , #{userNm}                     /* 사용자이메일 	*/
		    , #{userTel}                    /* 사용자전화번호	*/
		    , #{userBrtDt}                  /* 사용자생년월일	*/
		    , #{userPwd}                    /* 사용자비밀번호	*/
		    );
	]]>
	</insert>
	
	<update id="updateBcUser"
	parameterType="map">
	<![CDATA[
		UPDATE /* SQL_ID : com.toi.proto.mapper.UserMapper.updateBcUser */
			   TB_BC_USER
		   SET USER_NM 		= #{userNm}			/* 사용자명 		*/  
			   USER_TEL 	= #{userTel}        /* 사용자전화번호	*/ 
			   USER_BRT_DT 	= #{userBrtDt}      /* 사용자생년월일	*/ 
			   USER_PWD 	= #{userPwd}        /* 사용자비밀번호	*/ 
		 WHERE USER_ID 		= #{userId}         /* 사용자ID 		*/
		   AND USER_EML 	= #{userEml}		/* 사용자이메일 	*/  
	]]>
	</update>
	
	<delete id="deleteBcUser"
	parameterType="map">
	<![CDATA[
		DELETE /* SQL_ID : com.toi.proto.mapper.UserMapper.deleteBcUser */
		  FROM TB_BC_USER
		 WHERE USER_ID 		= #{userId}         /* 사용자ID 		*/
		   AND USER_EML 	= #{userEml}		/* 사용자이메일 	*/  
	]]>
	</delete>
</mapper>